@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Outfit", sans-serif;
  }
  body {
    @apply bg-body;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
  }
  select::-ms-expand {
    display: none;
  }
}
@layer components {
  .card {
    @apply space-y-2;
  }
  .card__img {
    @apply w-72 object-cover rounded-md shadow-md;
  }
  .card__caption-artist {
    @apply text-white text-lg text-ellipsis overflow-hidden whitespace-nowrap;
  }
  .card__caption-title {
    @apply text-gray-400 text-base;
  }
  .form__field {
    @apply flex flex-col gap-2;
  }
  .form__input {
    @apply border-none rounded-md p-2 shadow-sm shadow-black focus:outline-none;
  }
  .form__select {
    @apply shadow-sm h-28 rounded-md shadow-black pr-0 p-2;
  }
  .form__select-option {
    @apply py-2 text-sm;
  }
}
